{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Moviendo tu mundo, con seguridad</h1>
    </div>

    <div>
        <h2>Nuestros Servicios</h2>
        <div class="features">
            <div class="feature">
                <h3>Transporte de carga pesada</h3>
                <p>Soluciones confiables para grandes empresas.</p>
            </div>
            <div class="feature">
                <h3>Logística internacional</h3>
                <p>Llegamos a cualquier parte del mundo.</p>
            </div>
            <div class="feature">
                <h3>Transporte urgente</h3>
                <p>Entrega rápida y segura cuando más lo necesitas.</p>
            </div>
        </div>
    </div>
{% endblock %}
