{% extends 'base.html' %}

{% block content %}
    <div class="form_container">
        <div class="form_box sobrante">
            <h2>Iniciar Sesión</h2>

            {% if request.method == "POST" and messages %}
                <div id="messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <label for="{{ form.username.id_for_label }}">Nombre de usuario:</label>
                {{ form.username }}

                <label for="{{ form.password.id_for_label }}">Contraseña:</label>
                {{ form.password }}

                <button type="submit" class="btn_submit">Ingresar</button>
            </form>
			<br><br>

            <p>¿No tienes cuenta? <a href="{% url 'register' %}" class="btn_link gradiente_peque">Registrarse</a></p>
        </div>
    </div>
{% endblock %}


