{% extends 'base.html' %}

{% block content %}
    <div class="form_container">
        <div class="form_box">
            <h2>Solicitar Servicio de Transporte</h2>

            {% if request.method == "POST" and messages %}
                <div id="messages">
                    {% for message in messages %}
                        <div class="message {{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            <form method="POST" action="{% url 'crear_solicitud' %}">
                {% csrf_token %}
				<br>
                <div class="form-group">
                    <label for="origen">Desde</label>
                    <select name="origen" id="origen" class="form-control">
                        <option value="" disabled selected>Selecciona el origen</option>
                        {% for ruta in rutas %}
                            <option value="{{ ruta.id }}">{{ ruta.origen }}</option>
                        {% endfor %}
                    </select>
                </div>
				<br>
                <div class="form-group">
                    <label for="destino">Hasta</label>
                    <select name="destino" id="destino" class="form-control">
                        <option value="" disabled selected>Selecciona el destino</option>
                        {% for ruta in rutas %}
                            <option value="{{ ruta.id }}">{{ ruta.destino }}</option>
                        {% endfor %}
                    </select>
                </div>
				<br>
                <button type="submit" class="btn_submit">Solicitar Servicio</button>
            </form>
        </div>
    </div>
{% endblock %}
