asgiref
certifi
colorama
Django
django-environ
django-formtools
django-otp
django-phonenumber-field
django-two-factor-auth
django_csp
djangorestframework
phonenumbers
pypng
python-decouple
qrcode
sqlparse
typing_extensions
tzdata
reportlab