* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    padding: 0 30px;
    background: #f7f7f7;
}

.logo {
    flex: 1;
}

.logo img {
    height: 50px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex: 1;
    text-align: center;
}

.session-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    flex: 1;
}

nav a, .session-links a {
    text-decoration: none;
    color: inherit;
}

.gradiente {
    font-size: 1.4rem;
    background: linear-gradient(45deg, #ffe53b, #ff2525);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    background-position: center;
    padding-bottom: 1px;
    position: relative;
}

.gradiente::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: linear-gradient(45deg, #ffe53b, #ff2525);
    opacity: 0;
    transition: opacity 0.3s;
}

.gradiente:hover::after {
    opacity: 1;
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ffe53b, #ff2525);
    width: 100%;
    color: white;
}

.terminos {
    max-height: 80vh;
    overflow: scroll;
}