.contenedor_principal {
    position: relative;
    height: 92vh;
    overflow: hidden;
}
.contenedor_principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/carretera1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: -1;
}
.contenedor_principal::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.contenedor_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    height: 45vh;
    width: 100vw;
}

.titulo {
    margin: 0;
    letter-spacing: 5px;
    font-size: 9rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #ffe53b, #ff2525);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    animation: fadeIn 3s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}


.contenedor_descripcion {
    height: 47vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.contenedor_descripcion h2 {
    margin: 0px 300px 0px 300px;
    text-align: center;
    color: white;
}

.contenedor_descripcion a {
    margin-top: 150px;
    text-align: center;
    text-decoration: none;
}
.contenedor_descripcion a h3 {
    display: inline-block;
    border: 2px solid white;
    padding: 10px 30px;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: background-color 0.5s ease, border-color 0.5s ease;
    cursor: pointer;
    white-space: nowrap;
}
.contenedor_descripcion a h3:hover {
    background-color: rgba(255, 117, 43, 1);
    border-color: transparent;
    color: white;
}


.transicion1 {
    width: 100vw;
    height: 400px;
    background-image: url("../images/carretera2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.transicion2 {
    width: 100vw;
    height: 400px;
    background-image: url("../images/carretera3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.mision {
    min-height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0;
}

.misionContenedor {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 35vw;
    min-width: 300px;
    padding: 10px;
    margin: 20px;
    border: 3px solid orange;
    border-radius: 15px;
    text-align: center;
    position: relative;
    animation: moveBorder 5s linear infinite;
}

.misionContenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    z-index: -1;
}

.misionContenedor .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.misionContenedor img {
    height: 150px;
    padding: 5px;
    opacity: 0.9;
    border-radius: 10px;
}

.misionContenedor .textContent {
    width: 60%;
    text-align: left;
}

.mision h3 {
    color: black;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.mision p {
    color: black;
    font-size: 1rem;
    margin: 0 20px;
    text-align: left;
}

@keyframes moveBorder {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0;
    }
}



.testimonios {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    flex-wrap: wrap;
}

.testimonios h2 {
    text-align: center;
}

.testimonioContenedor {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 90%;
    height: 22vh;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 60px;
    padding: 30px;
    color: black;
    overflow: hidden;
    transition: color 0.5s ease;
}

.testimonioContenedor::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #ffe53b, #ff2525);
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
    border-radius: inherit;
    will-change: opacity;
}
.testimonioContenedor:hover {
    color: white;
}

.testimonioContenedor:hover::before {
    opacity: 1;
}


.testimonioContenedor img {
    width: 12%;
}
.testimonio {
    text-align: center;
    width: 88%;
    overflow: scroll;
}
.testimonio h3 {
    margin: 30px 0;
    font-size: 1.5rem;
}
.testimonio p {
    font-style: italic;
    margin-left: 55px;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}



.contacto {
    min-height: 80vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.contacto h2 {
    text-align: center;
}
.datosEmpresa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 0 20px;
}
.contacto form {
    max-width: 800px;
    margin: 0 auto;
}
.contacto form input {
    display: block;
}
.contacto form input[type="text"], .contacto form input[type="email"], .contacto form input[type="password"], .contacto form input[type="date"], .contacto form input[type="tel"], .contacto form select{
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid orange;
    font-size: 16px;
}
.contacto form input[type="text"]:focus, .contacto form input[type="email"]:focus, .contacto form input[type="password"]:focus, .contacto form input[type="date"]:focus, .contacto form input[type="tel"]:focus, .contacto form select:focus{
    outline: none;
    border: 3px solid orange;
}
.contacto form textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 5px;
    border: 1px solid orange;
    font-size: 16px;
    overflow: scroll;
}
.contacto form textarea:focus {
    outline: none;
    border: 3px solid orange;
}
.contacto form input[type="submit"] {
    border-radius: 5px;
    width: 200px;
    margin: 0px auto;
    background: none;
    border: 2px solid orange;
    color: black;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
}

.contacto form input[type="submit"]:hover {
    background: linear-gradient(45deg, #ffe53b, #ff2525);
    color: white;
}
.contenedorDireccion {
    width: 45%;
    max-width: 700px;
    display: flex;
    margin-right: 200px;
    margin-top: 90px;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.contenedorIframe {
    width: 100%;
    border: 2px solid orange;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
.direccion {
    text-align: center;
    margin-top: 20px;
}


.scrollDown {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 10%;
}



@media (max-width: 1700px) {
    .mision {
        flex-direction: column;
    }
    .misionContenedor {
        width: 98vw;
        max-width: none;
    }
}

@media (max-width: 992px) {
    .servicios-grid {
        flex-direction: column;
        align-items: center;
    }


    .servicio {
        flex: 1 1 80%;
    }
}

@media (max-width: 768px) {
    .contenedor_descripcion h2 {
        margin: 0px 20px;
        font-size: 1.2rem;
    }

    .contenedor_descripcion a {
        margin-top: 50px;
    }

    .contenedor_descripcion a h3 {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    .titulo {
        font-size: 5rem;
    }

    .servicios h2, .testimonios h2 {
        font-size: 2rem;
    }
}

@media (max-width: 600px) {
    .testimonios-slider {
        flex-direction: column;
        align-items: center;
    }

    .testimonio {
        min-width: 80%;
    }

    .contenedor_descripcion h2 {
        margin: 0px 20px;
    }

    .transicion {
        height: 200px;
    }
}